#sidebar {
    li {
        a {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            padding-right: 0.3rem;
            border-left: 3px solid transparent;
        }

        &:not(.has-subnav) > a.active-drop-target,
        &:not(.has-subnav) > a.sel {
            font-weight: bold;
            background-color: transparent !important;
            color: var(--theme-primary-500) !important;
            border-radius: 0;
            border-left: 3px solid var(--theme-primary-500);
            box-shadow: $box-shadow !important;
        }

        &:not(.has-subnav) > a:not(.sel):hover {
            background-color: transparent !important;
            color: var(--theme-primary-50) !important;
            border-left: 3px solid var(--theme-primary-500);
        }
    }
}

.sidebar {
    nav {
        li:not(.has-subnav) {
            > a:not(.sel):hover {
                background-color: var(--theme-primary-050);
                text-decoration: none;
            }
            >a.sel{
                background-color: transparent!important;
                border-left: 3px solid var(--theme-primary-500);
                color: var(--theme-primary-500)!important;
                box-shadow: $box-shadow;
            }
        } 
    }
}
